<template>
    <div>
        <h3 class="text-center">Edit Product</h3>
        <div class="row">
            <div class="col-md-6">
                <form @submit.prevent="updateProduct">
                    <div class="form-group">
                        <label>Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" v-model="contact.name">
                        <div v-if="$parent.errors.name" class="text-danger">{{ $parent.errors.name }}</div>
                    </div>
                    <div class="form-group">
                        <label>Surname</label>
                        <input type="text" class="form-control" v-model="contact.surname">
                        <div v-if="$parent.errors.surname" class="text-danger">{{ $parent.errors.surname }}</div>
                    </div>
                    <div class="form-group">
                        <label>Email <span class="text-danger">*</span></label>
                        <input type="email" class="form-control" v-model="contact.email">
                        <div v-if="$parent.errors.email" class="text-danger">{{ $parent.errors.email }}</div>
                    </div>
                    <div class="form-group">
                        <label>Phone <span class="text-danger">*</span></label>
                        <vue-tel-input
                            v-model="contact.phone"
                            validCharactersOnly
                        ></vue-tel-input>
                        <div v-if="$parent.errors.phone" class="text-danger">{{ $parent.errors.phone }}</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "EditContact",
    data() {
        return {
            contact: {}
        }
    },
    mounted() {
        this.$parent.errors = [];
    },
    created() {
        this.axios
            .get(`/api/contacts/${this.$route.params.id}`)
            .then( ({data}) => {
                this.contact = data.contact;
            });
    },
    methods: {
        updateProduct() {
            this.$parent.errors = [];
            this.axios
                .patch(`/api/contacts/${this.$route.params.id}`, this.contact)
                .then( ({data}) => {
                    if (data.success) {
                        alert(data.message);
                        this.$router.push({name: 'home'});
                    }
                })
                .catch( ({response}) => {
                    if (response.status === 422) {
                        this.$parent.arrangeErrors(response.data.errors);
                    }
                    console.error('update contact error', response);
                })
        }
    }
}
</script>
