<template>
    <div>
        <div class="contact-content">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="contact in contacts" :key="contact.id">
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.surname }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.created_at }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <router-link :to="{ name: 'edit', params: { id: contact.id }}" class="btn btn-success">Edit</router-link>
                            <button class="btn btn-danger" @click="deleteProduct(contact.id)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: "ContactList",
    data() {
        return {
            contacts: []
        }
    },
    created() {
        this.axios
            .get('/api/contacts')
            .then( ({data}) => {
                this.contacts = data;
            });
    },
    methods: {
        deleteProduct(id) {
            if (confirm('Are you sure to delete this contact?')) {
                this.axios
                    .delete(`/api/contacts/${id}`)
                    .then(response => {
                        let i = this.contacts.map(data => data.id).indexOf(id);
                        this.contacts.splice(i, 1)
                    });
            }
        }
    }
}
</script>

<style scoped>

</style>
