<template>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <router-link to="/" class="nav-item nav-link">Contact List</router-link>
                    <router-link to="/create" class="nav-item nav-link">Create Contact</router-link>
                </div>
            </div>
        </nav>

        <router-view> </router-view>
    </div>
</template>

<script>

/*
|---------------------------------------------------------------------
| Main Application Component
|---------------------------------------------------------------------
|
| In charge of choosing the layout according to the routes metadata
|
*/
export default {
    name: "App",
    data() {
        return {
            errors: []
        }
    },
    methods: {
        arrangeErrors(errs) {
            let errors = [];
            for (let err in errs) {
                errors[err] = errs[err][0];
            }

            this.errors = errors;
        }
    }
}
</script>

<style>
@import "../css/header.css";
</style>
