.navbar {
    border-bottom: 1px solid #1b1e21;
    padding-bottom: 10px;
    margin: 0 0 30px;
}
.navbar-nav a {
    padding: 10px 15px;
    border: 1px solid #000000;
    color: #000000 !important;
    border-radius: 5px;
    transition: 0.25s ease;
}
.navbar-nav a:first-child {
    margin-right: 10px;
}
.navbar-nav a:hover {
    background: #000000;
    color: #ffffff !important;
}
